<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Flattr -->
<script type="text/javascript">
/* <![CDATA[ */
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
/* ]]> */</script>

<div class="atmhead">

<h1>Awesome Turing Machine</h1>

<p>June 23, 2012, is the Centenary of Alan Turing’s birth in London.</p>
<p>And April 12, 2012, is the 23rd birthday of Crystal.</p>

</div>

<hr class="soften">

<div class="atmbody">

<h1>Turing Machine, Gift From Geek</h1>

<div class="row-fluid">
	<div class="span4">
		<h2>Definition</h2>
		<p>A Turing machine is a device that manipulates symbols on a strip of tape according to a table of rules.</p>
	</div>
	<div class="span4">
		<h2>Fact</h2>
		<p>Despite its simplicity, a Turing machine can be adapted to simulate the logic of any computer algorithm.</p>
	</div>
	<div class="span4">
		<h2>Usage</h2>
		<p>1. Use it to explain the functions of a CPU inside a computer.<br>2. Send it as a nerdy geeky gift.</p>
	</div>
</div>

<hr class="soften">

<div class="row-fluid">
	<div class="span4">
		<h1>The Story</h1>
		<p>A door poster opposite to my office inspired me.</p>
		<p>As my girlfriend's birthday is approaching, I realized that I should prepare a special gift for her.</p>
		<p>Aha! What about creating a Turing machine for her?</p>
		<p>So here is this website on which you can create virtual Turing machines and share them with your friends.</p>
		<p>Sounds nerdy, huh?</p>
		<p>Check out <a href="/t/1">what I've prepared for her</a>.</p>
	</div>
	<div class="span4">
		<ul class="thumbnails">
		  <li>
		    <a href="http://www.turingcentenary.eu/" class="thumbnail">
		      <img src="assets/poster.png" alt="poster">
		    </a>
		  </li>
		</ul>
	</div>
	<div class="span4">
		<h1>"It's awesome!<br>How can I help?"</h1>
		<div class="row-fluid">		
			<div class="span6">
				<h2>Share</h2>
				<p>
					<div class="fb-like" data-href="http://www.awesometuringmachine.com" data-send="false" data-layout="button_count" data-width="230" data-show-faces="false" data-font="lucida grande"></div>
				</p>
				<p>
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.awesometuringmachine.com" data-text="Check out this awesome website." data-via="libra_gold" data-hashtags="Turing">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</p>
				<p>
					<!-- Place this tag where you want the +1 button to render -->
					<g:plusone size="medium" href="http://www.awesometuringmachine.com"></g:plusone>

					<!-- Place this render call where appropriate -->
					<script type="text/javascript">
					  (function() {
					    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					    po.src = 'https://apis.google.com/js/plusone.js';
					    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					  })();
					</script>
				</p>
			</div>
			<div class="span6">
				<h2>Donate</h2>
				<p><a href='http://www.pledgie.com/campaigns/17015'><img alt='Click here to lend your support to: Awesome Turing Machine and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/17015.png?skin_name=chrome' border='0' /></a></p>
				<p> 
					<a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://www.awesometuringmachine.com"></a>
					<noscript><a href="http://flattr.com/thing/597012/Awesome-Turing-Machine" target="_blank">
					<img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>
				</p>
				<p><a class="btn-small btn-success" href="http://www.amazon.com/registry/wishlist/138XQSNU7S715/" target="blank">Amazon Wish List</a></p>
			</div>
		</div>
	</div>
</div>

<hr class="soften">

<h1>An Interesting Explanation of Turing Machine from Wikipedia</h1>
<h3>Turing machine as a "poor mug" inside a box pulling the box along a rail.</h3>

<blockquote>
	<p>"We are not concerned with the mechanics or the electronics of the matter. Perhaps the simplest way to picture the thing is quite crudely: Inside the box there is a man, who does all the reading and writing and erasing and moving. (The box has no bottom: the poor mug just walks along between the ties, pulling the box with him.) The man has a list of m instructions written down on a piece of paper. He is in state qi when he is carrying out instruction number i [etc.]" </p>
	<small>Boolos and Jeffrey (1974, 1999) p.21</small>
</blockquote>
<p>
This description closely follows Emil Post's "Formulation I" for a "finite combinatory process": a man, equipped with and following a "fixed unalterable set of instructions", moving left or right through "an infinite sequence of spaces or boxes" and while in a box either printing on a piece of paper a single "vertical stroke" or erasing it (Post 1936 reprinted in Undecidable p.289). Post's formulation was the first of its type to be published; it preceded Turing's by a matter of a few months.
Both descriptions-- Post's and Boolos and Jeffrey's — use simpler 4-tuples rather than 5-tuples to define the 'm-configurations' (instructions) of their processes.</p>

</div>